Evaluate using RFC 8949 (CBOR) to design and define Cadence Compact Format (CCF) to replace JSON and Cadence Binary Format (CBF)

### Problem

Designing and specifying an efficient new data format with support for detachable Cadence types (for all possible composite types) is nontrivial and involves more risks when an existing format (like CBOR) isn't leveraged for generic data model.  

Currently, Cadence external values (such as events) are encoded using [JSON-Cadence Data Interchange Format](https://developers.flow.com/cadence/json-cadence-spec).  The JSON-based format is a human-readable text encoding that is verbose, inefficient, and doesn't define deterministic encoding (canonical form).

Cadence Binary Format (CBF) was a proposed new data format to replace JSON encoding of Cadence external values.  However, CBF:
- did not support detachable Candence types
- did not support extensibility (which can increase risk of requiring breaking changes to resolve missed edge cases)
- did not leverage an existing data format's generic data model, which increases scope, complexity, and risks for the format specs and its codecs.  E.g. it was not designed with detection of malformed data as a high priority.

Defining all of CBF as a monolithic specification without leveraging an existing data format to handle the generic data model introduces various risks (cost, schedule, security) and future headaches (breaking changes after deployment to handle missed edge cases, growing requirements, and evolving tradeoff priorities).

### Definitions
 - CJF (Old/Deployed) - Cadence values encoded in JSON (current format being used).
 - CBF - (Incomplete/Deprecated) Cadence Binary Format using custom wire format.  It is missing features such as detachable type info, extensibility, and was not designed with detection of malformed data in mind.
 - CCF - (New/Draft) Cadence Compact Format with support for detachable Cadence type info (for all possible composite types), CBOR's generic data model (a superset of JSON's generic data model), extensibility, malformed data detection, and ability to leverage existing CBOR codec from CCF codec.
 
Updates onflow/cadence#1651

### Proposed Solution

Evaluate leveraging CBOR to define CCF, so we can focus on specifying Flow-specific features and reuse existing solutions for generic features (like encoding/decoding generic data model not specific to CCF).

In general, the disadvantage of leveraging a generic data format (e.g. slightly less reduction in encoded data size) is relatively small compared to the cost and risks of designing, implementing, testing, fuzzing, deploying, and maintaining a monolithic custom format.  See Preliminary Results (next section).

It is best practice to use a stable and extensible generic format to define more specific formats or new protocols.

For example, CBOR [RFC 8949](https://www.rfc-editor.org/rfc/rfc8949.html) (a generic data format) is used to define protocols and specific data formats.  CBOR is used in W3C's WebAuthn, IETF's COSE [RFC 9052](https://www.rfc-editor.org/rfc/rfc9052.html), and etc.  This allows [COSE codec](https://github.com/veraison/go-cose) to use [CBOR codec](https://github.com/fxamacker/cbor) under the hood.

The translation between CBOR <-> JSON is well defined in CDDL [RFC 8610](https://www.rfc-editor.org/rfc/rfc8610) which provides an easy and unambiguous way to express structures for protocol messages and data formats that use CBOR or JSON. 

Leveraging an existing data format like CBOR can simplify CBF specification, which simplifies the design, implementation, testing, maintenance, security, and extensibility of CBF codecs.

### Preliminary Results

Using CCF/CBOR instead of CJF/JSON to encode and decode generic data model produced expected benefits:
  - faster encoding and decoding
  - improved memory use: smaller `B/op` and fewer `allocs/op`
  - deterministic encoding by using Preferred Serialization from RFC 8949 (CBOR)
  - detection of malformed data
  - able to leverage existing CBOR codec from CCF codec

Preliminary encoded size comparison of new CCF format vs current JSON-based format using `FeesDeducted` example downloaded from [flowscan.org](http://flowscan.org/) show:
- 298 bytes -- JSON
- 119 bytes -- CCF with Cadence type info attached
- 18 bytes -- CCF without Cadence type info (Cadence values excluding Cadence type info)

More compact encoding is possible using formats that don't support nontrivial features such as detachable Cadence type info for all possible composite types.

These preliminary results show we can reduce size from 298 -> 119 bytes using a CBOR-based format even when Cadence type info is attached while using a format that supports detached Cadence type info!  Preliminary benchmarks are also very promising.

Benchmark Comparison of JSON vs CCF using a `FeesDeducted` event data.

```
name       old time/op    new time/op    delta
Encode-48    2.87µs ± 0%    1.44µs ± 0%  -49.88%  (p=0.000 n=20+19)

name       old alloc/op   new alloc/op   delta
Encode-48    1.12kB ± 0%    1.07kB ± 0%   -5.24%  (p=0.000 n=20+20)

name       old allocs/op  new allocs/op  delta
Encode-48      23.0 ± 0%      13.0 ± 0%  -43.48%  (p=0.000 n=20+20)
```

```
name       old time/op    new time/op    delta
Decode-48    9.81µs ± 1%    2.31µs ± 0%  -76.46%  (p=0.000 n=20+19)

name       old alloc/op   new alloc/op   delta
Decode-48    6.37kB ± 0%    1.22kB ± 0%  -80.87%  (p=0.000 n=20+20)

name       old allocs/op  new allocs/op  delta
Decode-48       130 ± 0%        26 ± 0%  -80.00%  (p=0.000 n=20+20)
```

WARNING: ⚠️ These results are preliminary and subject to change.

### TODO

- [x] @fxamacker - Evaluate leveraging RFC 8949 (CBOR) to design and define CCF.
- [x] @fxamacker - Evaluate leveraging RFC 8610 (CDDL) notation to document CCF specification.  
- [x] @fxamacker - Design initial CCF specification with
    - [x] Security considerations in mind, such as detection of malformed data during decoding.
    - [x] Use of CBOR's generic and extended data models to avoid reinventing the wheel.
    - [x] Support for all current and future Cadence types, including composite types. CCF supports schemaless encoding and is extensible for new Cadence types.
    - [x] Deterministic encoding (Preferred Serialization from CBOR Core Deterministic Encoding Requirements).
    - [x] Compact encoded data size by using CBOR Preferred Serialization to encode values to their smallest forms.  This is substantially more compact than JSON even when Cadence type info is attached.
    - [x] Compact encoded data size by not encoding Cadence type info repeatedly (e.g.  array of a Cadence type will not repeatedly encode same Cadence type info for every element). 
    - [x] Compact communication size by supporting detachable Cadence type info (for all possible composite types).  CCF-based protocols can (optionally) avoid repeatedly sending same Cadence type info to recipients for all messages of that type.
- [x] @fxamacker - Design and implement proof-of-concept CCF codec to match CCF specs.
- [x] @fxamacker - Add initial tests for CCF codec based on existing Cadence tests for JSON encoding.
- [x] @fxamacker - Add and run preliminary benchmark comparisons using a `FeesDeducted` event downloaded from flowscan.org.
    - [x] Faster encoding and decoding speed with CCF using [fxamacker/cbor](https://github.com/fxamacker/cbor).
    - [x] Improved memory use (fewer `allocs/op` and smaller `B/op`) with CCF using fxamacker/cbor.
- [x] @fxamacker - (in progress) Create CCF specifications document using CDDL notation for clarity.
    - [x] Share abridged draft of CCF specifications for sanity check and initial feedback at [fxamacker/ccf_draft](https://github.com/fxamacker/ccf_draft)
    
👉  We will move forward with CCF specs using CBOR based on these results and our first meeting on draft CCF specs ([rev. 20221122b](https://github.com/fxamacker/ccf_draft/blob/2594c4859e51715bb9e770cc42542eb31278cfc4/README.md)).  See epic https://github.com/onflow/cadence/issues/2157 and https://github.com/fxamacker/ccf_draft for current status.
    
- [ ] @fxamacker - Add more benchmarks using all types of events extracted from mainnet.
- [ ] @fxamacker - Share CCF specification and preliminary benchmark results with team(s).
- [ ] Cadence Team, etc. - Review and feedback on CCF specs.
- [ ] Cadence Team, etc. - Decide if we should proceed with CCF specification using CBOR.
- [ ] @fxamacker transfer [fxamacker/ccf_draft ](https://github.com/fxamacker/ccf_draft) to onflow/ccf_specs (if there are no showstoppers).
- [ ] @fxamacker - Cleanup and refactor proof-of-concept codec and open PR to add CCF codec.
- [ ] Cadence Team, etc. - Review and feedback on CCF codec (especially API).
- [ ] @fxamacker - Add codec feature to export to JSON.
- [ ] @fxamacker - Incorporate feedback into CCF specs.
- [ ] @fxamacker - Incorporate feedback into CCF codec.
- [ ] Cadence Team, etc. - Add additional unit tests for CCF codec.
- [ ] Cadence Team, etc. - Add fuzz tests for CCF codec.
- [ ] Cadence Team, etc. - Use CCF codec.
- [ ] Status review and next steps.

We will move forward with CCF specs using CBOR based on these results and our first meeting on draft CCF specs ([rev. 20221122b](https://github.com/fxamacker/ccf_draft/blob/2594c4859e51715bb9e770cc42542eb31278cfc4/README.md)). 

See epic https://github.com/onflow/cadence/issues/2157 and https://github.com/fxamacker/ccf_draft for current status of draft CCF specs.